# all folders starting with _ are local
_*/
.venv/
.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/mh
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
tools/*
link_app.bat
link_app.sh

/venv/

*.target

# Track some desired data files
exts/siborg.create.human/data/*

!exts/siborg.create.human/data/rigs/
!exts/siborg.create.human/data/poses/
!exts/siborg.create.human/data/*.png
!exts/siborg.create.human/data/skins/
!exts/siborg.create.human/data/human_base.usda

!exts/siborg.create.human/data/clothes/
exts/siborg.create.human/data/clothes/*

!exts/siborg.create.human/data/clothes/omni_casual/
!exts/siborg.create.human/data/clothes/siborg_casual/
!exts/siborg.create.human/data/clothes/nvidia_casual/

exts/siborg.create.human/data/skins/*
!exts/siborg.create.human/data/skins/textures/

exts/siborg.create.human/data/skins/textures/*
!exts/siborg.create.human/data/skins/textures/skin.png

# Deprecated files
*.old