# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

/mh
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
tools/*
link_app.bat
link_app.sh

*.target

exts/omni.makehuman/data